@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --neo-red: #e34234;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neo-red: var(--neo-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --animate-slow-spin: slow-spin 25s linear infinite;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}